<div style="height: 80px;"></div>
<section class="py-5 bg-white">
  <div class="container">
    <h2 class="text-center fw-semibold mb-5">I Nostri Servizi</h2>

    <div class="row g-4 justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let service of services">
        <div class="card h-100 shadow-sm border-0 service-card">
          <img [src]="service.image" [alt]="service.title" style="height: 46%;"
            class="card-img-top service-icon-container d-flex align-items-center justify-content-center">
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title fw-semibold text-primary">{{ service.title }}</h5>
            <p class="card-text flex-grow-1">{{ service.shortDescription }}</p>
            <button class="btn btn-outline-dark mt-auto w-100 service-btn" (click)="navigateTo(service.path)">
              Scopri di più
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>