.contact-background {
  position: relative;
}
.contact-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Regola il valore per l'intensità della sfocatura */
  z-index: -1;
}