<div class="container-fluid py-5 contact-background">
  <div class="row">
    <div class="col-md-6 text-dark p-5">
      <h1 class="display-4 fw-light">Contattaci</h1>
      <p class="lead mt-4">Benvenuto all'<b>Agenzia Hermes</b>.</p>
      <p>Contattaci o vieni a trovarci in agenzia, saremo contenti di aiutarti con i nostri servizi.</p>
      <p class="mt-4"><a href="tel:+393512135403" class="text-decoration-none text-dark fw-bold">+39 3512135403</a></p>
      <p><a href="mailto:hermessrl@pecaruba.it" class="text-decoration-none text-dark">hermessrl&#64;pecaruba.it</a></p>
    </div>

    <div class="col-md-6 p-5">
      <div class="ratio ratio-16x9 border shadow rounded">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.260611543408!2d17.038445376231934!3d40.58000254568566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1347093b5ed50c17%3A0xfbfcc897f3041ed3!2sAgenzia%20Hermes!5e0!3m2!1sit!2sit!4v1760357074695!5m2!1sit!2sit"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
