<div class="container-fluid py-5 contact-background">
  <div class="row justify-content-center">
    <div class="col-md-6 text-dark p-5 text-center">
      <h1 class="display-4" style="font-weight: bold;">I nostri contatti</h1>
      <div class="mt-4 contact-details">
        <ul class="list-unstyled d-inline-block text-start">
          <li>
            <div class="d-flex align-items-center mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-geo-alt-fill me-2" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
              </svg>
              <div>
                <span style="font-weight: bold;">Agenzia Hermes</span><br>
                Viale Stazione, 54<br>
                74019 Palagiano (TA)<br>
                <a style="color: #2c3e50e6 !important; font-weight: bold;"
                  href="https://maps.app.goo.gl/6SA1VAakLMkAsycr9"
                  target="_blank" class="text-primary text-decoration-none d-block">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path
                      d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.769a.5.5 0 0 0-.192.326.5.5 0 0 0 .638.585l4.314 1.839 1.838 4.313a.5.5 0 0 0 .585.638.5.5 0 0 0 .326-.192L16.035 1.335a.5.5 0 0 0-.07-.271z" />
                  </svg>
                  Indicazioni
                </a>
              </div>
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <fa-icon style="margin-right: 14px;" icon="phone"></fa-icon>
            <span><a href="tel:+393512135403" class="text-decoration-none text-dark fw-bold">+39 3512135403</a></span>
          </li>
          <li class="d-flex align-items-center mb-3">
            <fa-icon style="margin-right: 14px;" icon="envelope"></fa-icon>
            <span><a href="mailto:hermessrl@pecaruba.it"
                class="text-decoration-none text-dark">hermessrl&#64;pecaruba.it</a></span>
          </li>
          <li class="d-flex align-items-start mb-3">
            <fa-icon style="margin-right: 14px;" icon="home"></fa-icon>
            <div>
              <span>Orari di Apertura:</span><br>
              Lun-Ven: 09:00-13:00 / 15:00-18:00
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 p-5">
      <div class="ratio ratio-16x9 border shadow rounded">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.260611543408!2d17.038445376231934!3d40.58000254568566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1347093b5ed50c17%3A0xfbfcc897f3041ed3!2sAgenzia%20Hermes!5e0!3m2!1sit!2sit!4v1760357074695!5m2!1sit!2sit"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>