<section class="hero-section">
  <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-6 hero-text-container py-5">
        <div class="hero-text-content">
          <div class="flex-grow-1">
            <span class="agency-title">AGENZIA HERMES</span>
            <h1 class="fw-bold mb-3 display-4 text-white">Benvenuto in Agenzia Hermes</h1>
            <div class="mt-4 hero-bullets">
              <p>Quando ti affidi a noi, vivi con serenità e dormi sonni tranquilli.</p>
              <p>Quando ti affidi a noi, hai la libertà di guardare al futuro con sicurezza.</p>
              <p>Quando ti affidi a noi, entri in una community che garantisce il benessere di tutti.</p>
            </div>
            <p class="mt-4 fst-italic">E se con le parole sono tutti bravi, non credere sulla fiducia, mettici alla prova.</p>
          </div>
          <button class="btn btn-primary mt-4">Contattaci</button>
        </div>
      </div>

      <div class="col-lg-6 hero-image-container h-100">
      </div>
    </div>
  </div>
</section>

<section id="servizi" class="py-5 bg-white">
  <app-servizi></app-servizi>
</section>

<section id="contatti" class="py-5 bg-light">
  <app-contatti></app-contatti>
</section>