.container {
  height: 100vh;
  background-color: #f8f9fa; /* Sostituisci con il colore che preferisci */
}

h1.display-1 {
  font-size: 8rem;
  color: #0d6efd; /* Colore del bottone primary di Bootstrap */
}