<footer class="bg-custom-dark-footer backdrop-blur-bg text-white py-5 mt-auto">
  <div class="container">
    <div class="row text-center text-md-start">

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Orario</h5>
        <p class="mb-0">Lunedì–venerdì</p>
        <p> 08:30-13:00 / 16:30-19:30</p>
      </div>

      <!--div class="col-md-4 mb-4">
        <h5 class="fw-bold">Social media</h5>
        <a href="https://www.facebook.com/agenzia.hermes" target="_blank" rel="noopener noreferrer" class="link-light text-decoration-none">
          Facebook
        </a>
      </div-->

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">AGENZIA HERMES</h5>
        <address class="mb-0">
          PALAGIANO (TA) VIALE STAZIONE 54<br>
          CAP 74019<br>
          P.IVA 03394470730
        </address>
      </div>

    </div>
  </div>
</footer>